body {
	background-color: #837E6D;
}

#container {
	width: 500px;
	height: 500px;
	border-style: solid;
	border-color: red;
	border-width: 45px;
	border-radius: 25px; 
	margin: auto;
	font-size: 0; 
}

/*
the font-size: 0; gets rid of the gaps... it makes everythink but size 26/76 work
*/

div {
	display: inline-block;
	font-size: 0; 
	
}

.btn{
	display: block;
	margin: auto;
}
